.newlisting-cont{
    width: 100%;
}
.fotobackground{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../image/qutular.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height:300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
}