*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  p, a, span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  html{
    scroll-behavior: smooth;
  }